---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en-us">

  {% include head.html %}
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <body>
    <div>
      {% include navigation.html %}
      <main role="main" tab-index="-1">
        <section>
          {{ content }}
        </section>
        {% include footer.html %}
      </main>
    </div>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>

</html>