// Add Tailwind CSS to site
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Site styling
body {
  font-size: 16px;
}

.title {
  @apply text-6xl;
}

.small {
  @apply text-sm;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

p {
  @apply text-base;
}